@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  font-size: 14px;
}
a {
  color: #000;
}
a:hover,
a:focus {
  color: #000;
}
h1,
p {
  font-family: Lato;
}
main {
  min-height: 400px;
}
.card {
  height: 160px;
  margin-bottom: 30px;
}
.card-long {
  padding-bottom: 4px;
}
.card-long .sub {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}
.card-long:last-child {
  padding-bottom: 10px;
}
main {
  background-color: rgb(246, 246, 239);
}
footer {
  border-top: 2px solid rgb(255, 102, 0);
  background-color: rgb(246, 246, 239);
  font-size: 12px;
}

